/* Write your CSS here */
.appointment-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
}
.appointment-item-header {
  display: flex;
  flex-direction: column;
}
.star-button {
  border: none;
}
.appointment-item-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appointment-item-heading {
  font-weight: normal;
  font-size: 12px;
}
.appointment-item-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  border: 10px solid #000000;
  padding: 12px;
}
